<div class="d-md-none">
      
      <div class=" row" style="padding-top:60px; padding-bottom: 5%;margin: 5px">
      
      
        <div class="col-md-7">
      
          <h3>ТРЕНАЖЕР ДЛЯ СДАЧИ КВАЛИФИКАЦИОННОГО ЭКЗАМЕНА СПЕЦИАЛИСТА ЖКХ</h3>
          <div class="row" style="padding-top:3%;">
              
      
            <div class="col-md-7">
                <div class="row align-center">
                    <div class="col-md-4 mb-3"> 
                        <button class="btn btn-success btn-lg" type="submit" style="min-width: 180px;" (click)="btn_login()">Вход</button>
                    </div>
                    <div class="col-md-4 mb-3"> 
                        <button class="btn btn-success btn-lg" type="submit" style="min-width: 180px;" (click)="btn_demo()">Демо тест</button> 
                    </div>
                    <div class="col-md-4 mb-3"> 
                        <button class="btn btn-success btn-lg" type="submit" style="min-width: 180px;" (click)="btn_reg()">Регистрация</button>
                    </div>
                  </div>  
      
            </div>
      
          </div>
    
        </div>
      
        <div class="col-md-5">
      
            <h3>
                ПОДГОТОВЬТЕСЬ К 100% СДАЧЕ ТЕСТА ЗА 2 ЧАСА ИСПОЛЬЗУЯ НАШ ТРЕНАЖЕР
            </h3>
            <p>
                Тренажер GKHTEST.RU создан для обучения и подготовки сотрудников управляющих компаний и ТСЖ к сдаче квалификационного экзамена на получение квалификационного аттестата. В настоящее время сервис является единственным в России ресурсом по данной тематике.
            </p>
            <hr>

            <h3>
                КОММЕНТАРИЙ НА КАЖДЫЙ ВОПРОС
            </h3>
            <p>
                К каждому вопросу дан развернутый комментарий и ссылка на действующие нормы законодательства. Вопросы для данного теста подготовлены Минстроем РФ для сдачи экзамена для получения квалификационного аттестата должностным лицом управляющей компании.
            </p>
            <hr>
            
            <h3>
                ОЦЕНИТЕ УРОВЕНЬ ЗНАНИЙ СВОИХ СОТРУДНИКОВ
            </h3>
            <p>
              Протестируйте своих сотрудников, оцените их уровень знаний нормативно-правовой базы ЖКХ.
            </p>
            <hr>
  
          </div>
      </div> 
    

</div>

<!--Desktop-->
<div class="d-none d-md-block" style="margin-top: 60px">
<div style="text-align:center" class="mb-5">
  <h2>
    ТРЕНАЖЕР ДЛЯ СДАЧИ КВАЛИФИКАЦИОННОГО ЭКЗАМЕНА СПЕЦИАЛИСТА ЖКХ
  </h2>
</div>

<div class="align-items-center">


<div class="container   align-items-center"
  style="min-width: 1220px; max-width: 1224px; position: relative; background-color: white;">
    <div class="row">
        <div class="col-sm-4"> 
            <button class="btn btn-success btn-lg" type="submit" style="min-width: 180px;" (click)="btn_login()">Вход</button>
        </div>
        <div class="col-sm-4"> 
            <button class="btn btn-success btn-lg" type="submit" style="min-width: 180px;" (click)="btn_demo()">Демо тест</button> 
        </div>
        <div class="col-sm-4"> 
            <button class="btn btn-success btn-lg" type="submit" style="min-width: 180px;" (click)="btn_reg()">Регистрация</button>
        </div>
      </div>  


<div class=" mt-3">
  
  <h3>
      ПОДГОТОВЬТЕСЬ К 100% СДАЧЕ ТЕСТА ЗА 2 ЧАСА ИСПОЛЬЗУЯ НАШ ТРЕНАЖЕР
  </h3>
  <p>
      Тренажер GKHTEST.RU создан для обучения и подготовки сотрудников управляющих компаний и ТСЖ к сдаче квалификационного экзамена на получение квалификационного аттестата. В настоящее время сервис является единственным в России ресурсом по данной тематике.
  </p>
  <hr>
</div>
<div class=" mt-3"> 
    <h3>
        КОММЕНТАРИЙ НА КАЖДЫЙ ВОПРОС
    </h3>
    <p>
        К каждому вопросу дан развернутый комментарий и ссылка на действующие нормы законодательства. Вопросы для данного теста подготовлены Минстроем РФ для сдачи экзамена для получения квалификационного аттестата должностным лицом управляющей компании.
    </p>
    <hr>
</div>
<div class="mt-3">
    <h3>
        ОЦЕНИТЕ УРОВЕНЬ ЗНАНИЙ СВОИХ СОТРУДНИКОВ
    </h3>
    <p>
      Протестируйте своих сотрудников, оцените их уровень знаний нормативно-правовой базы ЖКХ.
    </p>
    <hr>
</div>

</div>

</div>

</div>


<div class="col-md-12 ">

  <router-outlet></router-outlet>

</div>