<div>

  <div class="container" style="padding-top: 100px; padding-bottom:100px ">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card-group">
          <div class="card p-4" style="margin-top: 40px">
            <div class="card-body">

              <form [formGroup]="registerForm" (ngSubmit)="btn_login()">
                <h1>Вход в систему</h1>
                <p class="text-muted">Введите логин и пароль</p>
                <div class="form-group mb-3">
                  <!--<div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>-->
                  <input formControlName="fc_login" type="text" class="form-control" placeholder="Номер лицевого счета" [ngClass]="{'is-invalid': submitted && f.fc_login.errors}" autocomplete="username" required />
                  <p *ngIf="registerForm.get('fc_login').invalid && registerForm.get('fc_login').touched ">
                      <label class="text-danger" *ngIf="registerForm.get('fc_login').errors['required']">Введите логин</label> 
                  </p>
                </div>
                <!--<div [hidden]="fc_login.valid || fc_login.untouched" class="alert alert-danger">
                    Введите логин
                </div>-->
                <div class="form-group mb-3">
                    <!-- <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    </div>-->
                    <input formControlName="fc_password"  type="password" class="form-control" placeholder="Пароль" [ngClass]="{'is-invalid': submitted && f.fc_password.errors}" autocomplete="current-password" required />
                    <p *ngIf="registerForm.get('fc_password').invalid && registerForm.get('fc_password').touched ">
                      <label class="text-danger" *ngIf="registerForm.get('fc_password').errors['required']">Введите пароль</label> 
                    </p>
                  </div>
                  <!--<div [hidden]="fc_password.valid || fc_password.untouched" class="alert alert-danger">
                      Введите пароль
                  </div>-->
                <div class="row mb-2">
                  <div class="col-6">
                    <button type="submit" class="btn btn-success px-4">Войти</button>
                  </div>
                  <div class="col-6 text-right">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>