<div class="container" style="padding-top: 50px; padding-bottom:100px ">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card-group" style="max-width: 400px">
        <div class="card p-4" style="margin-top: 40px">
          <div class="card-body">
            
            <form [formGroup]="registerForm" (ngSubmit)="onsubmit()">
                <h2>Регистрация</h2>
                <div class="form-group">
                  <input type="text" formControlName="surname" class="form-control" placeholder="Фамилия"  [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />
                  <p *ngIf="registerForm.get('surname').invalid && registerForm.get('surname').touched ">
                      <label class="text-danger" *ngIf="registerForm.get('surname').errors['required']">Введите фамилию</label> 
                  </p>
                </div>
                <div class="form-group">
                <input type="text" formControlName="name" class="form-control" placeholder="Имя" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <p *ngIf="registerForm.get('name').invalid && registerForm.get('name').touched ">
                    <label class="text-danger" *ngIf="registerForm.get('name').errors['required']">Введите имя</label> 
                </p>
                </div>
                <div class="form-group">
                  <input type="text" formControlName="otchestvo" class="form-control" placeholder="Отчество"/>
                </div>
                <div class="form-group">
                  <input type="text" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <p *ngIf="(registerForm.get('email').invalid && registerForm.get('email').touched) ">
                      <label class="text-danger" *ngIf="registerForm.get('email').errors['required']">Введите email</label> 
                      <label class="text-danger" *ngIf="registerForm.get('email').errors['email']"> Введите корректный email!</label> 
                  </p>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="phone" class="form-control" 
                    placeholder="Номер телефона" mask=' (000) 000 00-00' prefix="+7"  [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                    <p *ngIf="registerForm.get('phone').invalid && registerForm.get('phone').touched ">
                        <label class="text-danger" *ngIf="registerForm.get('phone').errors['required']">Введите номер телефона</label> 
                    </p>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" placeholder="Пароль" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <p *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched ">
                     <label class="text-danger" *ngIf="registerForm.get('password').errors['required']">Введите пароль.</label> 
                     <label class="text-danger" *ngIf="registerForm.get('password').errors['lengthError']"> Пароль не должен быть меньше 6 символов!</label> 
                    </p>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="confirmpassword" class="form-control" placeholder="Повторите пароль" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" />
                    <label class="text-danger" *ngIf="registerForm.controls['confirmpassword'].hasError('NoPassswordMatch') ">
                        Пароли не совпадают
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Зарегистрироваться</button>
                </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
